@charset "UTF-8";


body {
text-align: center;
}

.card-body {
  background: #696969;
  margin-top: 15px;
  text-align: left;
  
}

a {
  font-size: 30px;
  text-decoration: none;
}

h3 {
  color: darkorange;
}

#parent { white-space: nowrap; }
.child { display: inline-block; }

w3-container {
  text-align: left;
}

.w3-container-o {
  background: rgb(255,140,0);
  text-align: left;
  margin-left: 15px;
}

.card {

  background: rgb(51,63,80);

  margin: 15px 0px 15px 0px;

  padding: 20px;

  border: 0px;

  border-radius: 5px;

  -webkit-box-shadow: 0 0 1px 1px #ef2c30;

          box-shadow: 0 0 1px 1px #ef2c30; }
